In [2]:
import pandas as pd
import numpy as np
from os.path import join
from os import getcwd

# Section 1

In [44]:
oslo = pd.read_csv("data/oslo_listings.csv")
oslo.describe().T

,count,mean,std,min,25%,50%,75%,max
id,8093.0,1.728308e+07,8.225806e+06,42932.00000,1.143711e+07,1.835486e+07,2.357328e+07,3.243379e+07
host_id,8093.0,6.218233e+07,5.805137e+07,2738.00000,1.674198e+07,4.241712e+07,8.863454e+07,2.427090e+08
neighbourhood_group,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,8093.0,5.992205e+01,1.770714e-02,59.81815,5.991432e+01,5.992292e+01,5.992998e+01,6.003668e+01
longitude,8093.0,1.075471e+01,3.770410e-02,10.62934,1.073275e+01,1.075920e+01,1.077343e+01,1.094415e+01
price,8093.0,9.084826e+02,1.519285e+03,78.00000,5.100000e+02,7.260000e+02,1.002000e+03,8.639300e+04
minimum_nights,8093.0,4.398245e+00,2.327868e+01,1.00000,1.000000e+00,2.000000e+00,3.000000e+00,1.000000e+03
number_of_reviews,8093.0,1.544718e+01,3.594925e+01,0.00000,1.000000e+00,4.000000e+00,1.300000e+01,7.130000e+02
reviews_per_month,6203.0,1.027961e+00,1.446033e+00,0.01000,1.800000e-01,4.800000e-01,1.210000e+00,1.322000e+01
calculated_host_listings_count,8093.0,6.064871e+00,2.686496e+01,1.00000,1.000000e+00,1.000000e+00,1.000000e+00,1.790000e+02
availability_365,8093.0,6.581330e+01,1.095485e+02,0.00000,0.000000e+00,0.000000e+00,8.800000e+01,3.650000e+02

In [4]:
print(len(oslo))

8093

In [5]:
oslo["neighbourhood"].unique()

array(['Frogner', 'Gamle Oslo', 'St. Hanshaugen', 'Grünerløkka', 'Sagene',
       'Nordstrand', 'Vestre Aker', 'Nordre Aker', 'Ullern', 'Stovner',
       'Østensjø', 'Søndre Nordstrand', 'Sentrum', 'Alna', 'Bjerke',
       'Marka', 'Grorud'], dtype=object)

In [6]:
oslo.head(2)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,42932,"Charming apartment, Oslo Center, Ro",187463,Cecilie,NaN,Frogner,59.91234,10.72384,Entire home/apt,1927,2,30,2018-07-02,0.45,1,310
1,43431,Room for recreation up town Oslo,189712,Jayce,NaN,Frogner,59.91811,10.70714,Private room,475,2,47,2016-10-25,0.47,3,0

# Cleaning dataset for Modelling

In [3]:
oslo = pd.read_csv("data/oslo_listings2.csv")

In [5]:
oslo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8093 entries, 0 to 8092
Columns: 106 entries, id to reviews_per_month
dtypes: float64(25), int64(21), object(60)
memory usage: 6.5+ MB

In [6]:
list(oslo.columns)

['id',
 'listing_url',
 'scrape_id',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'thumbnail_url',
 'medium_url',
 'picture_url',
 'xl_picture_url',
 'host_id',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_acceptance_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_listings_count',
 'host_total_listings_count',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'latitude',
 'longitude',
 'is_location_exact',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'guests_included',
 'extra_people',
 'minimum_nights',
 'maximum_nights',
 'minimum_minimum_nights',
 'maximum_minimum_nights',
 'minimum_maximum_nights',
 'maximum_maximum_nights',
 'minimum_nights_avg_ntm',
 'maximum_nights_avg_ntm',
 'calendar_updated',
 'has_availability',
 'availability_30',
 'availability_60',
 'availability_90',
 'availability_365',
 'calendar_last_scraped',
 'number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'requires_license',
 'license',
 'jurisdiction_names',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification',
 'calculated_host_listings_count',
 'calculated_host_listings_count_entire_homes',
 'calculated_host_listings_count_private_rooms',
 'calculated_host_listings_count_shared_rooms',
 'reviews_per_month']

In [7]:
# Selecting futures we want to take with us
selected_features = [u'id',
                     u'name',
                     u'price',
                     u'number_of_reviews',
                     u'square_feet',
                     u'first_review',
                     u'accommodates',
                     u'host_response_time',
                     u'bathrooms',
                     u'bedrooms',
                     u'beds',
                     u'security_deposit', 
                     u'cleaning_fee', 
                     u'guests_included',
                     u'extra_people',
                     u'minimum_nights', 
                     u'maximum_nights',
                     u'guests_included',
                     u'availability_365',
                     u'neighbourhood',
                     u'longitude',
                     u'latitude',
                     u'review_scores_rating',
                     u'review_scores_cleanliness',
                     u'review_scores_checkin',
                     u'review_scores_communication', 
                     u'review_scores_location',
                     u'review_scores_value', 
                     u'house_rules',
                     u'amenities',
                     'bed_type', 
                     'room_type',
                     'cancellation_policy',
                     'property_type']
oslo = oslo.loc[:, selected_features]
oslo = oslo.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [8]:
oslo.head(2)

,id,name,price,number_of_reviews,square_feet,first_review,accommodates,host_response_time,bathrooms,bedrooms,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,house_rules,amenities,bed_type,room_type,cancellation_policy,property_type
0,42932,"Charming apartment, Oslo Center, Ro","$1,927.00",30,0.0,2013-09-02,3,within a few hours,1.0,2.0,...,10.0,10.0,10.0,10.0,Comment sense :),"{TV,""Cable TV"",Internet,Wifi,Kitchen,""Free str...",Real Bed,Entire home/apt,moderate,Apartment
1,43431,Room for recreation up town Oslo,$475.00,47,0.0,2010-12-05,1,within a few hours,1.0,1.0,...,9.0,10.0,9.0,9.0,Please send me a Message if your interested to...,"{TV,Wifi,""Air conditioning"",Kitchen,""Paid park...",Real Bed,Private room,strict_14_with_grace_period,Apartment

In [9]:
oslo["review_scores_rating"].describe()

count    8093.000000
mean       96.579637
std         6.365222
min        20.000000
25%        95.000000
50%       100.000000
75%       100.000000
max       100.000000
Name: review_scores_rating, dtype: float64

In [10]:
oslo["price"] = oslo["price"].str.replace("\$|,", "").astype(float)
oslo["security_deposit"] = oslo["security_deposit"].str.replace("\$|,", "").astype(float)
oslo["cleaning_fee"] = oslo["cleaning_fee"].str.replace("\$|,","").astype(float)
oslo["extra_people"] = oslo["extra_people"].str.replace("\$|,","").astype(float)
oslo["availability"] = oslo["availability_365"] / 365

In [11]:
# house rules
#house_rules = oslo["house_rules"].str.lower()
#smoking = house_rules.str.contains("smoke|smoking", na = False)
#oslo.loc[:, "smoking"] = -smoking
        
#pet =  house_rules.str.contains("pet", na = False)
#oslo.loc[:, "pet"] = - pet

#party = house_rules.str.contains("party|parties", na = False)
#oslo.loc[:, "party"] = - party

#guest = house_rules.str.contains("guest|guests", na = False)
#oslo.loc[:, "guest"] = -guest

In [12]:
# drop house rules column
oslo = oslo.drop(["house_rules"], axis = 1)

In [13]:
# facilites 
oslo["amenities"][1]

'{TV,Wifi,"Air conditioning",Kitchen,"Paid parking off premises",Gym,"Pets live on this property",Elevator,"Indoor fireplace","Buzzer/wireless intercom",Heating,"Family/kid friendly",Washer,Dryer,"Smoke detector","Fire extinguisher",Essentials,"Lock on bedroom door","24-hour check-in",Hangers,"Hair dryer",Iron,"Laptop friendly workspace","Hot water","Host greets you"}'

In [14]:
import re
amenities = list(oslo["amenities"])
total = ",".join(amenities)
total = total.replace("{", "").replace("}","").replace("\"","").split(",")
amenity_items = list(set(total))
amenity_items = list(filter(None, amenity_items))
for i in amenity_items:
    if re.match(r'translation', i):
        amenity_items.remove(i)

In [15]:
# which neighbourhood are there in the dataset
oslo["neighbourhood"].unique()

array(['Frogner', 'Gamle Oslo', 'Majorstuen', 'St. Hanshaugen',
       'Grünerløkka', 'Sagene', 'Nordstrand', 'Sentrum', 'Nordre Aker',
       'Grefsen', 'Ullern', 'Østensjø', 'Alna', 'Bjerke'], dtype=object)

In [16]:
# create matrix for amenities
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

table = pd.DataFrame(index = oslo.reset_index().values[:,0], 
                    columns = amenity_items).fillna(0)

# populate amenities - futures
for i in range(len(amenities)):
    for j in amenity_items:
        if j in amenities[i]:
            table.at[i,j] = 1

In [17]:
# create table for neighbourhood
col = list(oslo["neighbourhood"])
table_n = pd.DataFrame(index = oslo.reset_index().values[:,0],
                    columns = set(col)).fillna(0)

# populate the matrix
for i in range(len(col)):
    for j in col:
        if j in col[i]:
            table_n.at[i,j] = 1

In [18]:
sum_table = np.array(table.sum())
ind = (-sum_table).argsort()[:60]
common_amenities = list(table.sum().iloc[ind].index)

# add the amenities matrix
oslo = oslo.drop(['amenities'], axis = 1)
oslo = pd.concat([oslo, table[common_amenities]], axis = 1)

# add the neighbourhood matrix
oslo = oslo.drop(["neighbourhood"], axis = 1)
oslo = pd.concat([oslo, table_n], axis = 1)

In [19]:
# iterate the same process over bed_type, room_type, cancellation_poloty, property_type and host_response_time
columns = ['bed_type', 'room_type', 'cancellation_policy', 'property_type', 'host_response_time']
for column in columns:
    unique_values = list(oslo[column].unique())
    column_list = list(oslo[column])
    new_table = pd.DataFrame(index = oslo.reset_index().values[:,0], columns = unique_values).fillna(0)
    
    for i in range(len( column_list )):
        for item in unique_values:
            if item in column_list[i]:
                new_table.at[i, item] = 1
    oslo = pd.concat( [oslo, new_table], axis = 1)
    oslo = oslo.drop([column], axis = 1)

In [20]:
oslo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8093 entries, 0 to 8092
Columns: 142 entries, id to within a day
dtypes: float64(17), int64(123), object(2)
memory usage: 8.8+ MB

In [43]:
# write cleaned file to new file - modelling 
oslo.to_csv("data/oslo_clean.csv")

In [42]:
oslo.head(2)

,id,name,price,number_of_reviews,square_feet,first_review,accommodates,bathrooms,bedrooms,beds,...,Campsite,Farm stay,Houseboat,Chalet,Cottage,Dome house,within a few hours,a few days or more,within an hour,within a day
0,42932,"Charming apartment, Oslo Center, Ro",1927.0,30,0.0,2013-09-02,3,1.0,2.0,3.0,...,0,0,0,0,0,0,1,0,0,0
1,43431,Room for recreation up town Oslo,475.0,47,0.0,2010-12-05,1,1.0,1.0,2.0,...,0,0,0,0,0,0,1,0,0,0

# Cleaning Dataset for visualization

In [46]:
oslo = pd.read_csv("oslo_listings2.csv")
oslo.head(2)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,42932,https://www.airbnb.com/rooms/42932,20190217155222,2019-02-17,"Charming apartment, Oslo Center, Ro",NaN,"Charming apartment, Oslo Center, Royal House T...","Charming apartment, Oslo Center, Royal House T...",none,(URL HIDDEN),...,t,f,moderate,f,f,1,1,0,0,0.45
1,43431,https://www.airbnb.com/rooms/43431,20190217155222,2019-02-17,Room for recreation up town Oslo,Neat and fresh looking apt. in up town Oslo si...,NaN,Neat and fresh looking apt. in up town Oslo si...,none,NaN,...,f,f,strict_14_with_grace_period,f,f,3,0,3,0,0.47

In [47]:
selected_features = [u'id',u'name',u'price',u'accommodates',
       u'bathrooms', u'bedrooms', u'beds',u'security_deposit', u'cleaning_fee', u'guests_included',
       u'extra_people', u'minimum_nights', u'maximum_nights',u'guests_included',  
       u'availability_365',u'neighbourhood',
       u'number_of_reviews', u'review_scores_rating',u'review_scores_cleanliness', u'review_scores_checkin',
       u'review_scores_communication', u'review_scores_location',u'latitude', u'longitude',
       u'review_scores_value','bed_type', 'room_type', 'cancellation_policy', 'property_type']
oslo = oslo.loc[:, selected_features]
oslo = oslo.apply(lambda x:x.fillna(x.value_counts().index[0]))

In [48]:
# clean up price columns 
oslo["price"] = oslo["price"].str.replace("\$|,", "").astype(float)
oslo["security_deposit"] = oslo["security_deposit"].str.replace("\$|,", "").astype(float)
oslo["cleaning_fee"] = oslo["cleaning_fee"].str.replace("\$|,","").astype(float)
oslo["extra_people"] = oslo["extra_people"].str.replace("\$|,","").astype(float)

In [51]:
oslo.head(2)

,id,name,price,accommodates,bathrooms,bedrooms,beds,security_deposit,cleaning_fee,guests_included,...,review_scores_checkin,review_scores_communication,review_scores_location,latitude,longitude,review_scores_value,bed_type,room_type,cancellation_policy,property_type
0,42932,"Charming apartment, Oslo Center, Ro",1927.0,3,1.0,2.0,3.0,0.0,0.0,3,...,10.0,10.0,10.0,59.91234,10.72384,10.0,Real Bed,Entire home/apt,moderate,Apartment
1,43431,Room for recreation up town Oslo,475.0,1,1.0,1.0,2.0,2000.0,350.0,1,...,9.0,10.0,9.0,59.91811,10.70714,9.0,Real Bed,Private room,strict_14_with_grace_period,Apartment

In [53]:
oslo.to_csv("oslo_clean_visualization.csv")