# Naive Solution

In [1]:
import os
import numpy as np
import pandas as pd
import pickle

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge

import matplotlib.pyplot as plt
%matplotlib inline

In [51]:
# Set directories
print(os.getcwd())
dirRawData = "../rawdata/"
dirPData = "../pydata/"
dirOutput = "../output/"

/home/jovyan/work/aml-cw/code

In [19]:
df_all = pd.read_csv(dirRawData +'train.csv')
df_test = pd.read_csv(dirRawData + 'test.csv')

In [16]:
df_all.head()

,id,v_char_1,v_char_2,v_char_3,v_char_4,v_char_5,v_char_6,v_char_7,v_char_8,v_char_9,...,v_num_101,v_num_102,v_num_103,v_num_104,v_num_105,v_num_106,v_num_107,v_num_108,v_num_109,v_num_110
0,1,G,V,q,S,Q,K,Q,d,Y,...,0,6,0,6,8,0,1,0,16,19
1,2,G,I,q,S,Q,i,Q,d,I,...,0,7,1,5,1,5,1,1,7,2
2,3,G,I,L,S,Q,L,Q,h,I,...,0,6,0,8,9,0,1,0,1,4
3,4,G,I,q,S,Q,i,Q,h,I,...,0,6,0,8,1,0,1,0,12,8
4,6,G,V,q,S,Q,i,Q,d,Y,...,0,11,0,5,3,0,1,0,16,4

In [43]:
y = df_all.loc[:,['target']]

In [46]:
df_test.head()

,id,v_char_1,v_char_2,v_char_3,v_char_4,v_char_5,v_char_6,v_char_7,v_char_8,v_char_9,...,v_num_101,v_num_102,v_num_103,v_num_104,v_num_105,v_num_106,v_num_107,v_num_108,v_num_109,v_num_110
0,5,G,I,L,S,Q,L,Q,h,I,...,0,6,0,7,1,0,1,0,2,14
1,10,G,Q,q,S,Q,i,V,h,A,...,0,4,1,1,4,0,1,1,10,1
2,11,G,O,q,S,Q,i,Q,h,Y,...,0,6,0,2,1,0,1,0,18,12
3,13,G,I,q,S,Q,i,Q,d,I,...,0,8,0,1,5,0,1,0,1,2
4,16,G,V,q,S,Q,K,Q,h,Y,...,0,6,0,12,1,0,1,0,18,18

In [53]:
df_test['target'] = 0.5

In [54]:
base_line_predictions = df_test.loc[:,['id', 'target']]

In [55]:
base_line_predictions.to_csv(dirOutput+ 'baselineprob.csv', index=False)